<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>SF2 Command by http</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{{ asset('bundles/devbierescommand/assets/bootstrap/css/bootstrap.css') }}" rel="stylesheet">
    <style type="text/css">
      body {
        padding-top: 60px;
        padding-bottom: 40px;
      }
      .sidebar-nav {
        padding: 9px 0;
      }

      @media (max-width: 980px) {
        /* Enable use of floated navbar text */
        .navbar-text.pull-right {
          float: none;
          padding-left: 5px;
          padding-right: 5px;
        }
      }
    </style>
    <link href="{{ asset('bundles/devbierescommand/assets/bootstrap/css/bootstrap-responsive.css') }}" rel="stylesheet">
    <link href="{{ asset('bundles/devbierescommand/css/main.css') }}" rel="stylesheet">

  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container-fluid">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="brand" href="{{ path('command_homepage') }}">SF2 Command by Http</a>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">  {{ 'menu.general.title'|trans }} </li>
              <li> <a href="{{ path('generic') }} "> {{ 'menu.general.generic'|trans }} </a> </li>
              <li> <a href="{{ path('list') }} "> {{ 'menu.general.list'|trans }} </a> </li>
              <li> <a href="{{ path('clear_cache') }} "> {{ 'menu.general.clearcache'|trans }} </a> </li>
              <li> <a href="{{ path('assets_install') }}" > {{ 'menu.general.assetsinstall'|trans }} </a> </li>
              <li> <a href="{{ path('router_debug') }} " >  {{ 'menu.general.routerdebug'|trans }} </a> </li>
              <li class="nav-header">{{ 'menu.generate.title'|trans }}</li>
              <li> <a href="{{ path('generate_bundle') }}"> {{ 'menu.generate.bundle'|trans }} </a></li>
              <li class="nav-header"> {{ 'menu.generate.title'|trans }}</li>
              <li> <a href="{{ path('doctrine_schema_create') }} "> {{ 'menu.doctrine.create'|trans }} </a> </li>
              <li> <a href="{{ path('doctrine_schema_update') }} "> {{ 'menu.doctrine.update'|trans }} </a> </li>
              <li> <a href="{{ path('doctrine_schema_drop') }} "> {{ 'menu.doctrine.drop'|trans }} </a> </li>
              <li> <a href="{{ path('doctrine_schema_validate') }} "> {{ 'menu.doctrine.validate'|trans }} </a> </li>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
        <div class="span9">
            {% if app.session.flashbag.has('error') %}
                  <div class="alert alert-error" >
                     <h4> {{ 'error'|trans }} </h4>
                     <ul class="unstyled" >
                        {% for flashMessage in app.session.flashbag.get('error') %} <li> {{ flashMessage }} </li> {% endfor %}
                     </ul>
                  </div>
              {% endif %}
              {% if app.session.flashbag.has('warning') %}
                  <div class="alert alert-info" >
                     <h4> {{ 'warning'|trans }} </h4>
                     <ul class="unstyled" >
                        {% for flashMessage in app.session.flashbag.get('warning') %} <li> {{ flashMessage }} </li> {% endfor %}
                     </ul>
                  </div>
              {% endif %}
              {% block body %}
                   {% block form %} {% endblock %}
                  <h3> Console </h3>
                  <div class="console" >{% block console %} {% endblock %} </div>
              {% endblock %}
        </div><!--/span-->
      </div><!--/row-->

      <hr>

      <footer>
        <p>&copy; Company 2013</p>
      </footer>

    </div><!--/.fluid-container-->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{{ asset('bundles/devbierescommand/assets/jquery/jquery-1.9.1.min.js') }}"></script>
    <script src="{{ asset('bundles/devbierescommand/assets/bootstrap/js/bootstrap.min.js') }}"></script>
  </body>
</html>
